.neonText {
  @apply text-white text-5xl md:text-8xl;
  @apply font-bonheur-royale;
  animation: flicker 1.5s infinite alternate;
}

.wrapper {
  @apply max-w-7xl mx-auto w-screen flex flex-col items-center justify-center mt-72 mb-40 iphone5:mb-28;
}
@media screen and (prefers-reduced-motion) { 
  .neonText {
    animation: none;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff002f,
      0 0 80px #ff002f,
      0 0 90px #ff002f,
      0 0 100px #ff002f,
      0 0 150px #ff002f;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
